<div class="media">
    <div class="media-left">
        <%= gravatar_for user %>
    </div>
    <div class="media-body">
        <h3><%= link_to user.name, user %></h3>
        <%= user.email %>
    </div>
</div>